{% extends 'base.html' %} {% block content %}
<h3>
  <a href="/"><i class="bi bi-arrow-left"></i></a>
</h3>
<h1>{% block title %} Service URL {% endblock %}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Short</th>
      <th scope="col">Original</th>
      <th scope="col">Created</th>
      <th scope="col">Analyze</th>
    </tr>
  </thead>
  <tbody>
    {% for url in urls %}
    <tr>
      <th scope="row">{{ url['id'] }}</th>
      <td>{{ url['short_url'] }}</td>
      <td>{{ url['original_url'] }}</td>
      <td>{{ url['created'] }}</td>
      <td>
        <!-- Add Analyze icon here -->
        <a href="/stats/{{ url['url_id'] }}">
          <i class="bi bi-bar-chart-line"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
